@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --mosaic-blue: #176b7f;
}

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    border-style: none;
}

legend {
    font-size: 32px;
}

label {
    color: #666666;
    font-size: 14px;
}

input {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    padding: 0.4rem;
    width: 20rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input:focus {
    outline: solid var(--mosaic-blue);
    box-shadow: 2px 2px 8px #aaaaaa;
    border-color: transparent;
}

input:valid {
    outline-color: forestgreen;
}

input:invalid {
    outline-color: orangered;
}

.container {
    display: flex;
}

.container section {
    height: 100vh;
}

.small-letters {
    font-size: 14px;
    font-style: italic;
    color: #333333;
}

.form-row {
    display: flex;
    margin: 1rem 0;
    gap: 2rem;
}

.form-row div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.bold {
    font-weight: bold;
}


#signup-banner {
    --banner-width: 500px;
}

#signup-banner>img {
    height: 100%;
    width: var(--banner-width);
    object-fit: cover;
}

#banner-top,
#banner-credit p {
    width: var(--banner-width);
    color: white;
    position: absolute;
    text-align: center;
}

#banner-top {
    top: 18%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1em;
}

#banner-top img {
    width: 80px;
    object-fit: scale-down;
}

#banner-top span {
    font-family: "Norse";
    font-size: 90px;
    position: relative;
    top: 10px;
}

#banner-credit p {
    top: 95%;
}

#banner-credit a {
    color: white;
}

#signup-main {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efefef;
}

#signup-hero {
    padding: 4rem 4rem 2rem;
    flex: 1;
    height: fit-content;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#signup-form,
#signup-footer {
    padding: 2rem 4rem;
}

#signup-hero p {
    width: 70%;
    margin: 2rem 0;
}

#signup-form {
    margin: auto 0;
    flex: 1.5;
    background-color: #ffffff;
    box-shadow: 8px 8px 8px #dddddd;
}

#signup-form div {
    padding: 0;
}

#signup-footer {
    flex: 1.5;
}

#signup-footer a {
    color: var(--mosaic-blue);
    text-decoration: none;
}

#signup-footer a:hover {
    text-decoration: underline;
}

#create-account-button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0.75rem 3rem;
    background-color: var(--mosaic-blue);
    border-color: transparent;
    border-radius: 8px;
    margin-bottom: 1rem;
}

#create-account-button:hover {
    opacity: 0.9;
}
